* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 0;
}
.nav {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #247ba0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}
.texto-nav {
    color: #e8f1f2;
    font-size: 180%;
}
.texto-nav:hover {
    color: #1b98e0;
    -webkit-text-stroke: 1px #e8f1f2;
}
.logo-nav {
    width: 10%;
    height: 80%;
    background-color: #1b98e0;
    margin-left: 3%;
    border: 1px solid #e8f1f2;
}
.box-icon-nav {
    width: 30%;
    height: 80%;
    margin-left: 30%;
    display: flex;
    align-items: center;
    gap: 8%;
}
.icone-nav {
    color: #e8f1f2;
    border-left: 2px solid #e8f1f2;
    font-size: 10%;
    position: relative;
    padding-left: 5%;
}


/* --------- MAIN -------- */ 

.container-fundo {
    width: 100%;
    height: 90%;
    top: 10%;
    position: absolute;
    background-color: #e8f1f2;
}
.ondas {
    position: absolute;
    width: 120%;
    bottom: 0;
    left: -20;
    right: -20;
}
.onda-3 {
    animation: onda3 3s 0.7s ease-in-out infinite alternate;
}
@keyframes onda3 {
    to {
        transform: translateX(-160px);
    }
}
.onda-2 {
    animation: onda2 3s 1.2s ease-in-out infinite alternate;
}
@keyframes onda2 {
    to {
        transform: translateX(-180px);
    }
}
.onda-1 {
    animation: onda1 3s ease-in-out infinite alternate;
}
@keyframes onda1 {
    to {
        transform: translateX(-200px);
    }
}